# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.egg-info/
dist/
build/

# Jupyter notebooks
.ipynb_checkpoints/

# PyInstaller
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python packaging
*.egg
*.whl

# Test coverage
htmlcov/
.coverage
